SECRET_KEY=gazellesignals-2026-secret
FLW_PUBK=FLWPUBK-680c2f65a0795c23ac1ad8f6aabe4e4c-X
FLW_SECRET=FLWSECK_TEST-xxx
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN
CHANNEL_ID=@gazellesignals
ADMIN_EMAIL=admin@gazelle.com
DATABASE_URL=sqlite:///gazelle.db
